.courses{
    padding: 80px;
    text-align: center;
    min-height: 60vh;


    h2{
        font-size: 32px;
        color:rgb(57, 61, 174);
        margin-bottom: 30px;

    }

    .course-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:30px
    }
}